/* reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,select,textarea,th,td,figure{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial,\5b8b\4f53;color:#4d4d4d;letter-spacing: 1px;}h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
.small{font-size:12px;}
.big{font:24px \5FAE\8F6F\96C5\9ED1; margin-left:100px; margin-top:50px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#f7b066;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.fl{float:left;}.fr{float:right;}
.clearfix:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfix { *zoom: 1; }
.clear { clear: both; height: 0; font-size: 0; }
/* image */
.logo a { background: url(../images/logo.png?v=1) no-repeat; }
.btn { background: url(../images/component.png?v=2) no-repeat; }
.regbtn { background: url(../images/registerlogin.gif?v=1) no-repeat; }
.new { background: url(../images/new.gif?v=1) no-repeat; }
.dropdown { background: url(../images/dropdown.png?v=1) no-repeat; }
.attention-list { background: url(../images/attention.png?v=1) no-repeat; }
/* layout */
.col-main { float: left; width: 100%; min-height: 1px; }
.col-sub, .col-extra { float: left; }
.grid-ms .main-wrap { margin-right: 268px; }
.grid-ms .col-sub { width: 235px; margin-left: -235px; }
.wrap { width: 906px; margin: 0 auto; padding-top: 32px; }
.wrap1 { width: 906px; margin: 0 auto; padding-top: 25px; }
.wrap2 { width: 946px; margin: 0 auto; padding-top: 32px; padding-left: 10px;}
.wrap-set { width: 820px; margin: 0 auto; padding-top: 32px; }
.inner-wrap { width: 730px; margin-left: 100px; }
.inner-wrap .talk-list .msg { width: 650px; }
.inner-wrap .talk-list .msg .mix .text { width: 537px; }
/* component */
.btn { width: 109px; height: 24px; display: inline-block; cursor: pointer; }
.talk-btn:hover { background-position: 0 -25px; }
.comment-btn { background-position: 0 -50px; }
.comment-btn:hover { background-position: 0 -75px; }
.cancel { float: left; border: 1px solid #5f5f5f; padding: 2px 5px; }
.cancel .vline { padding: 0 7px; }
.cancel .cancel-link { color: #6d6d6d; cursor:pointer;}
.fav-btn { background-position: 0 -150px; }
.fav-btn:hover { background-position: 0 -175px; }
.focus-btn { background-position: 0 -100px; width: 99px; }
.focus-btn:hover { background-position: 0 -125px; }
.offer-btn { background-position: 0 -200px; width: 128px; height: 31px; }
.offer-btn:hover { background-position: 0 -232px; }
.regbtn { display: block; width: 236px; height: 46px; border: 0 none; cursor: pointer; text-indent: -9999em; margin-top: 40px; margin-bottom: 40px;}
.login-btn:hover { background-position: 0 -46px; }
.reg-btn { background-position: 0 -92px; margin-bottom: 20px; }
.reg-btn:hover { background-position: 0 -138px; }
.textarea { width: 573px; height: 85px; padding: 4px 6px; border: 1px solid #617ce4; overflow: auto; resize: vertical; }
.textnotice { font-size:12px;color:orange;margin-top: 5px; margin-right: 10px;}
.textsuccess { font-size:12px;color:#cccccc;margin-top: 5px; margin-right: 10px;}
.dropdown { display: inline-block; width: 31px; height: 27px; cursor: pointer; }
#expansion { background-position: 0 -28px; }
.u-name, .album-name { color: #f7b066; }
.timestamp,
.del,
.reply { color: #6d6d6d; }
.forget { font-size:12px; color: #999999; }
.act { padding: 0 10px 0 0; }
.new { display: inline-block; width: 23px; height: 9px; }
.star-level, .quote { position: absolute; top: 0; right: 0; }
.entity { font-family: \5B8B\4F53; }
.preview {width: 70px; height: 70px; margin-left: 95px; margin-top: 10px;}
.preview.loading { background: url(../images/loading.gif) no-repeat 5px 28px; }
.preview.loading img {display: none; }

/* header */
.header { height: 47px; background: #323232 url(../images/navbg.gif) repeat-x; }
.inner-header { width: 960px; margin: 0 auto; }
.logo { padding: 0 10px; float: left; }
.logo a { display: block; height: 45px; width: 142px; }
.nav { float: left; }
.nav li { float: left; margin-left: 30px; font-size: 14px; }
.nav li a, .login li a, .login li .vline, .right li a { line-height: 47px; color: #ccc; }
.login, .right { float: right; }
.login { margin-right: 50px; }
.login li, .right li { float: left; margin-left: 10px; line-height: 47px;}
.right li a { position: relative; }
.right li .new { position: absolute; top: -8px; right: -10px; }
.right .droplist { margin-top: 10px; line-height: 0px;}
.nav-layer { position: absolute; background-color: #585858; padding: 3px 15px; top: 37px; }
.nav-layer li { float: none; margin: 0; }
.nav-layer li a { display: block; line-height: 22px; color: #ccc; }
.guild-text { margin-bottom: 50px; font-size: 16px; }
.title { font-size: 14px; margin-bottom: 20px; font-weight: normal;}
/* page-nav */
.page-nav { margin-right: 5px; margin-bottom: 10px;}
.page-nav li { float: left; margin-left: 10px; }
.page-nav li a { color: #f7b066; }
/* mod */
.mod { margin-bottom: 25px; }
.mod .hd { margin-bottom: 10px; }
.mod .hd h3 { display: inline-block; font-size: 14px; font-weight: normal; vertical-align: middle;}
.mod .hd .btn { vertical-align: middle; margin-left: 20px; }
/* list */
.talk-list { padding-top: 1px; }
.talk-list li { margin-bottom: 17px; }
.talk-list .avatar, .talk-list .msg { float: left; }
.talk-list .avatar { margin-right: 10px; width: 50px; }
.talk-list .avatar img { width: 50px; height: 50px; }
.talk-list .msg { width: 555px; padding: 5px 10px; background-color: #404040; position: relative; }
.talk-list .msg p { line-height: 22px; }
.talk-list .meta { margin-top: 10px; }
.talk-list .msg .text { margin-top: 5px; letter-spacing: 1px; }
.talk-list .msg .u-name { display: inline-block; margin-right: 10px; }
.talk-list .msg .timestamp { display: inline-block; margin-right: 18px; }
.talk-list .msg .meta .timestamp { margin-right: 18px; }
.talk-list .msg .mix .text { width: 445px; margin-right: 23px; float: left; }
.talk-list .msg .mix .cover { float: left; padding-top: 5px; }
.talk-list .msg .mix .cover img { width: 70px; height: 70px; }
.talk-list .meta .del,
.talk-list .meta .reply { display: inline-block; margin-right: 18px; }
.talk-list .meta .reply em { color: #fff; }
.reply-list { margin: 5px 5px 13px 90px; padding: 15px 15px 5px 15px; background: #3b3b3b; }
.reply-list .reply-input { width: 355px; line-height: 26px; padding: 0 4px; vertical-align: middle; resize: none; }
.reply-list .reply-btn { height: 28px; line-height: 28px; padding: 0 10px; margin-left: 8px; vertical-align: top; cursor: pointer; }
.reply-list .top-text { margin-bottom: 20px; }
.reply-list .reply-content { margin-bottom: 15px; padding-bottom: 12px; border-bottom: 1px solid #4a4a4a; word-break: break-all; }
.reply-list .child-text { margin-top: 15px; }
/*.reply-list .meta { margin: 15px 0; }*/
.rec-list { background-color: #404040; padding: 8px 10px; margin-bottom: 10px; }
.rec-list li { margin-bottom: 3px; }
.person-list, .album-list, .attention-list { padding: 7px; padding-right: 0px; background-color: #404040; }
.person-list li { float: left; margin-right: 7px; }
.person-list li.last, .album-list li.last { margin: 0; }
.person-list li img { display: block; width: 50px; height: 50px; }
.album-list li { margin-bottom: 15px; }
.album-list .album-cover, .album-list .album-detail { float: left; }
.album-list .album-cover img { display: block; width: 110px; height: 110px; }
.album-list .album-cover { margin-right: 10px; }
.album-list .album-detail { width: 100px; }
.album-list .album-detail .album-name { color: #ccc; }
.album-list dt { font-size: 14px; color: #ccc;  font-weight:bold;margin-bottom: 5px;}
.album-list dt a, dd a { color: #ccc; }
.attention-list { height: 48px; }
.attention-list li { float: left; width: 73px; text-align: center; border-right: 1px solid #6c6c6c; }
.attention-list li.last { border-right: 0 none; }
.attention-list li a { display: block; color: #ccc; position: relative; font-size: 17px; }
.attention-list li span { display: block; font-size: 12px; }
.attention-list li .new { position: absolute; right: 10px; top: -4px; z-index: 999; }
.tab-list { margin-bottom: 20px; margin-left: 27px;}
.tab-list li { float: left; font-size: 14px; }
.tab-list li a { color: #ccc; position: relative; }
.tab-list li a.active{ font-weight: bold;color: #f7b066;}
.tab-list li .vline { margin: 0 20px; }
.tab-list li .new { position: absolute; top: -8px; right: -10px; }
/* page */
body { background-color: #444; font: 12px/1.5 arial, sans-serif; color: #ccc; word-wrap: break-word; word-break: break-all; }
.album-page h1 { margin-bottom: 10px; font: 100 22px "Times New Roman"; }
.album-info { padding-bottom: 25px; }
.album-info .album-cover, .album-info .album-detail { float: left; }
.album-info .album-cover { margin-right: 15px; border: 5px solid #616161; }
.album-info .album-cover img { display: block; width: 200px; height: 200px; }
.album-info .album-detail { width: 400px; }
.album-info .album-detail li { line-height: 22px; }
.album-info .album-detail li.star { margin-bottom: 10px; }
.album-action { margin-top: 20px; }
.album-action .btn { float: left; }
.album-action .feedback, .album-action .share { float: right; padding-top: 3px; }
.album-action .feedback { color: #6d6d6d; }
.album-action .share { margin-right: 10px; }
.album-evaluate { background-color: #3d3d3d; padding: 8px 12px; margin-bottom: 30px; width: 614px; position: relative; overflow: hidden; word-wrap: break-word; word-break: break-all; }
.album-evaluate .title { color: #6d6d6d; width: 570px; padding-bottom: 4px; margin-bottom: 8px; border-bottom: 1px solid #474747; font-size: 12px; }
.album-evaluate .content { letter-spacing: 2px; }
.album-evaluate .content p { line-height: 22px; font-size: 14px; text-indent: 32px; padding-left: 3px; }
.album-evaluate .meta { margin-top: 3px; text-align: right; }
.album-evaluate .meta a { display: inline-block; margin-right: 10px; }
.sendpost { padding: 0px 25px 30px; position: relative; }
.sendpost .meta { margin-top: 3px; }
.sendpost .meta .fl { display: block; }
.sendpost .meta input { padding: 3px 28px; font-size: 14px; cursor: pointer; }
.mark { color: #6d6d6d; }
.mark a { color: #999999; }
.offer-history { padding-top: 10px; }
.offer-history a { color: #ccc; }
.offer-history .vline { padding: 0 9px 0 10px; }
.user-info { padding-bottom: 25px; }
.user-info .user-face, .user-info .user-detail { float: left; }
.user-info .user-face { margin-right: 15px; }
.user-info .user-face img { width: 150px; height: 150px; }
.user-info .user-detail { width: 450px; }
.user-info .user-detail .user-name { font-size: 14px; margin-bottom: 10px; font-weight:bold;}
.user-info .user-detail dd { line-height: 22px; color: #bbbaba; }
.user-info .user-detail a { color: #bbbaba; }
.user-action { margin-top: 20px; }
.user-action .btn { float: left; }
.user-action .msg, .user-action .share { float: right; padding-top: 3px; }
.user-action .share { margin-right: 10px; }
.user-panel { padding: 20px 0 0 0; margin-bottom: 20px; border-style: solid; border-color: #4b4b4b; border-width: 1px 0; }
.user-panel li { height: 90px; }
.user-panel li.last { margin-bottom: 0; }
.user-panel .txt { float: left; width: 120px; font-size: 14px; margin-top: 24px; }
.user-panel a { float: left; margin-right: 20px; }
.user-panel img { width: 70px; height: 70px; display: block; }
.user-panel .more { margin-top: 24px; color: #ccc; }
.content-panel { border-bottom: 0 none; margin-top: 100px; }

.my-panel { border: 0 none; margin: 0; padding: 0 0 20px 0; }
.my-info { margin-bottom: 20px; }
.my-info .my-face, .my-info .my-detail { float: left; }
.my-info .my-face { margin-right: 15px; }
.my-info .my-face img { width: 50px; height: 50px; }
.my-info .my-detail { width: 160px; }
.my-info .my-detail dl, .my-info .my-detail dl a { color: #bbbaba; }
.my-info .my-detail dt { font-size: 14px; margin-bottom: 8px; font-weight:bold;}
.my-info .my-detail dd { line-height: 22px; }
.input-field { font-size: 14px; margin-bottom: 20px; }
.input-field span { display: inline-block; width: 90px; line-height: 30px; vertical-align: middle; }
.input-field .txt { width: 260px; height: 22px; padding: 4px 3px 2px; vertical-align: middle; outline: none; }
.input-field .tip { padding-left: 30px; }
.input-field .error-tip { color: red; }
.input-field .left-pad { padding-left: 95px; }
.input-field .login-opt { width: 272px; margin-top: -10px;}
@-moz-document url-prefix() { .input-field .login-opt { margin-top: -30px; } }
.input-field .shorter { width: 90px; }
#pic_code { display: inline-block; margin-left: 30px; vertical-align: middle; }
.input-field .system-btn { width: 470px; padding: 10px 0; -webkit-appearance: normal; text-align: center; }
.direct { font-size: 16px; margin-bottom: 45px; }
.step { display: block; margin-top: 20px; }
.complete-list li { font-size: 14px; margin-bottom: 25px; }
.complete-list .tip { padding-left: 30px; }
.complete-list .mood-choose { width: 560px; }
.complete-list .mood { display: inline-block; width: 100px; margin: 15px 10px 0 20px; }
.complete-list .mood input { margin-right: 5px; vertical-align: middle; }
.complete-list .mood label { vertical-align: middle; }
#addDemos { padding-left: 20px; margin: 20px 0 50px; position: relative; }
#addDemos .input-field span { width: 120px; }
#addDemos .input-field .left-pad { padding-left: 120px; }
#addDemos .try { margin-right: 20px; }
#addDemos #preview { width: 90px; height:35px;}
#addDemos .example { font-size: 12px; padding-right: 10px; }
#addDemos .help { font-size: 12px; color: #e99e4d; }
#addDemos .stream { position: absolute; left: 450px; bottom: 0; }
#recAlbum { background: none; }
#recAlbum li { width: 415px; height:110px; float: left; margin-left: 20px; position: relative; padding: 10px; border: 1px solid #4c4c4c; background-color: #3c3c3c; }
#recAlbum li dl { float: left; width: 270px; }
#recAlbum li .meta { position: absolute; bottom: 6px; right: 10px; color: #6e6e6e; }
#recAlbum li .vline { padding: 0 5px; }
#commentAlbum { margin-top: 10px; }
#commentAlbum textarea { height: 370px; font-size:14px;}
#commentAlbum span { font-size: 14px; }
#commentAlbum .meta { margin-top: 15px; }
#commentAlbum .meta input { margin-right: 10px; vertical-align: middle; }
#sub_form textarea { font-size:14px;}
#star {display:inline;}
#star img {vertical-align: middle;padding-bottom: 4px; }
#target {margin-left:20px;display:inline;font-size:14px;}
#mask {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: none; z-index: 9998;}

/* 8.25 新增 */
.input-field .normal-btn { padding: 3px 28px; font-size: 14px; cursor: pointer; vertical-align: middle; }
.input-field .radio { margin-right: 5px; }
.input-field .boy { margin-right: 10px; }
#intro { width: 310px; height: 80px; overflow: auto; vertical-align: text-top; }
.wrap-set .tab-list { margin-bottom: 40px; }
.wrap-set .tab-list a { font-size: 14px; }
.wrap-set .tab-list .current { font-weight: bold; color: #f7b066;}
.suc { width:200px;color: #cccccc;padding-left:10px; }
.nosuc {width:200px;color:orange;padding-left:10px;}
.setting { padding-left: 70px; }
.face-tip { padding-top: 10px; }
.face-uploader { margin: 10px 0; font-size: 14px; }
.preview_icon {width: 150px; height: 150px; margin-bottom:10px;}
.preview_icon.loading { background: url(../../images/loading.gif) no-repeat 45px 67px; }
.preview_icon.loading img {display: none; }

/* 8.26 新增 */
.search-box { width: 460px; margin: 0 auto 65px; }
.search-box .tab-list { margin-bottom: 10px; }
.search-box .txt { width: 350px; padding: 3px 5px 5px; font-size: 16px; vertical-align: middle; }
.search-go { width: 74px; height: 32px; background-position: 0 -264px; margin-left: 10px; vertical-align: middle; border: 0 none;}
.search-go:hover { background-position: 0 -297px; }
#userRet { width: 640px; margin: 0 auto; }
#albumRet { width: 700px; margin: 0 auto; }
#albumRetList li { width: 350px; height: 100px; }
#albumRetList li .cover { float: left; width: 70px; height: 70px; border: 1px solid #616161;}
#albumRetList li dl { width: 260px; margin-left: 80px; }
#albumRetList li dt a { font-size: 13px; color: #ccc; line-height: 18px;font-weight: bold; }
.search-ret h3 { font-size: 14px; font-weight: normal; margin-bottom: 30px; }
.list li { float: left; }
#userRetList li { width: 210px; height: 80px; }
#userRetList li .avatar { float: left; width: 50px; height: 50px; }
#userRetList li .avatar img { width: 50px; height: 50px; }
#userRetList li dl { margin-left: 60px; width: 150px; }
#userRetList li dt a { font-size: 13px; color: #ccc; line-height: 18px; position: relative; top: -3px; font-weight: bold;}

/* 8.28 新增 */
.fav-list { background-color: #3c3c3c; padding: 16px 0 6px 18px; border: 1px solid #4c4c4c; }
.fav-list li { float: left; width: 122px; height: 122px; }
.topcover { height: 126px; }
.topcover img { width: 903px; height: 124px; border: 1px solid #494949; }
#indexWrap .mod { margin-bottom: 40px; }
#indexWrap .mod .hd { margin-bottom: 20px; }
.mod h2 { float: left; width: 94px; height: 18px; text-indent: -9999em; overflow: hidden; background: url(../images/sprite.png) no-repeat; }
.mod .hd .fl { color: #ccc; font-size: 13px; margin-left: 18px; }
#recentNew h2 { background-position: 0 -19px; }
#copyWriters h2 { width: 130px; background-position: 0 -38px; }
#radioUpdate { margin-top: 30px; }
#radioUpdate h2 { background-position: 0 -57px; }
#copyWriters li { margin-right: 33px; height: 90px; }
#copyWriters li.last { margin-right: 0; }
#copyWriters .avatar { display: block; width: 50px; height: 50px; overflow: hidden; }
#copyWriters .avatar img { width: 50px; height: 50px; }
#copyWriters .writer { text-align: center; margin: 5px -10px 0px -10px; width: 70px; height: 20px; text-overflow: ellipsis; overflow: hidden; }
#copyWriters .writer a { color: #ccc; }
#radioUpdate .bd img { display: block; width: 110px; height: 110px; border: 5px solid #c6c6c6; }
#notice .bd p { line-height: 20px; }
#notice h2 { background-position: 0 -76px; }
#bossArea .bd li { margin-bottom: 3px; }
#bossArea .bd a { color: #ccc; }
#bossArea h2 { width: 104px; background-position: 0 -95px; }
.grid-ms-i .main-wrap { margin-right: 234px;margin-top: 30px; }
.grid-ms-i .col-sub { width: 180px; margin-left: -180px; }
.page-footer { margin-top: 20px; padding-top: 15px; background: url(../images/foot-line.gif) repeat-x left top; }
.inner-footer { width: 906px; margin: 10px auto 45px; position: relative; }
.inner-footer p { margin-bottom: 3px; }
.inner-footer .links a { color: #ccc; }
.inner-footer .vline { padding: 0 8px; }
.inner-footer .quotation { position: absolute; top: 0; right: 0; padding-left: 33px; width: 340px; height: 68px; line-height: 21px; background: url(../images/sprite.png) no-repeat 0 -115px; }
.links {width: 500px;}

#pw-forget {width: 300px; height:150px; position: fixed; top: 40%;margin-top:-100px; left: 50%;margin-left:-150px; padding: 20px; background-color:#FFFFFF; border: 5px solid #c6c6c6; z-index:1000;display:none;}

/* 8.31 新增 */
#artistAlbum { background: none; padding:0;}
#artistAlbum li { width: 515px; float: left; position: relative; padding: 10px; border: 1px solid #4c4c4c; background-color: #3c3c3c; }
#artistAlbum li dl { float: left; width: 395px; }
#artistAlbum li .meta { position: absolute; bottom: 6px; right: 10px; color: #6e6e6e; }
#artistAlbum li .vline { padding: 0 5px; }
#artistAlbum li dl .desc { margin-top: 5px; margin-bottom: 3px;}

/* 13.1.31 新增风格挑选 */
#stylePicker { width: 16px; height: 16px; margin-top: 2px; background: url(../images/stylepicker.png) no-repeat; }
#styleAlbum { padding: 10px 0 10px 25px; }
#styleAlbum li { width: 226px; height: 238px; float: left; }
#style1 { background: url(../images/style/1-2.png) no-repeat; }
#style2 { background: url(../images/style/2-2.png) no-repeat; }
#style3 { background: url(../images/style/3-2.png) no-repeat; }
#style4 { background: url(../images/style/4-2.png) no-repeat; }
#style5 { background: url(../images/style/5-2.png) no-repeat; }
#style6 { background: url(../images/style/6-2.png) no-repeat; }
#style7 { background: url(../images/style/7-2.png) no-repeat; }
#style8 { background: url(../images/style/8-2.png) no-repeat; }
#styleAlbum .style-cover { width: 200px; height: 200px; margin: 10px 0 0 1px; background-color: #444; }
#styleAlbum .style-cover img { box-shadow: 2px 3px 3px rgba(0,0,0,.8); opacity: .8; filter:alpha(opacity=80); }
#styleAlbum .style-cover a:hover img { opacity: 1; filter:alpha(opacity=100); text-decoration: none; } 

/* 13.4.13 新增侧边导航块 */
.side-nav { position: fixed; left: 0; top: 50%; }
.side-nav .expand { display: block; position: absolute; width: 48px; height: 48px; background: url(../images/side.png) no-repeat; }
.side-nav .expand-cont { position: absolute; width: 96px; margin-top: -27px; margin-left: -116px; padding: 10px 10px 15px; z-index: 999; background-color: #414141; }
.side-nav h3 { margin: 2px 0 5px 3px; color: #909090; }
.side-nav li { float: left; display: inline; margin: 0 3px; +margin: 0; }
.side-nav li .peace { color: #b3d66f; }
.side-nav li .joy { color: #f1a943; }
.side-nav li .passion { color: #f26c62; }
.side-nav li .alternative { color: #e5e5e5; }
.side-nav li .dark { color: #ad8f26; }
.side-nav li .illusion { color: #72a9b9; }
.side-nav li .sad { color: #bd9a74; }
.side-nav li .random { color: #a7a7a7; }

/* 13.5.23 play icon*/
.icon_play {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	background: url(../images/button_play.png) no-repeat 0 0;
	vertical-align: middle;
}
.player a {
	display: block;
	height: 48px;
	line-height: 48px;
	color: #ccc;
	text-decoration: none;
}
.player a:hover {
	text-decoration: underline;
}
.player a:hover .icon_play {
	background-position: 0 -48px;
}
/*按钮*/
input[type="button"],
input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #333;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
}
/* 新增 tag 图标 */
.tag-info {
	display: inline-block;
	vertical-align: -2px;
	width: 28px;
	height: 13px;
	background: url(../images/artist_tag.png) no-repeat;
}